* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
header {
    display: flex;
    justify-content: space-evenly;
}
nav {
    background-color: #141C27;
    height: 80px;
    width: 83%;
    position: fixed;
    z-index: 1;
}
ul {
    display: flex;
    column-gap: 30px;
    margin: -60px 0px 0px 300px;
}
ul li {
    list-style: none;
}
ul a {
    text-decoration: none; 
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 500;
}
.fa-bars {
    background-color: #55E6A5;
    color: #02050A;
    padding: 25px 27px;
    float: right;
    text-align: center;
    font-size: 30px;
    margin-top: -52px;
}
/* section-1 Area */
.sc1 img {
    width: 100%;
    height: 100vh;
}
.allsc1 {
    display: flex;
    justify-content: space-evenly;
}
.ext1 {
    width: 83%;
    display: flex;
    margin-top: -510px;
}
.alld1 {
    width: 54%;
}
.alld1 h1 {
    text-transform: uppercase;
    font-size: 50px;
    color: #FFFFFF;
    line-height: 1.2;
    word-break: normal;
}
.alld1 h2 {
    text-transform: uppercase;
    font-size: 42px;
    color: #FFFFFF;
    line-height: 1.2;
    word-break: normal;
}
.alld1 p {
    color: #A2A2A2;
    font-size: 16px;
    font-weight: normal;
    word-spacing: 5px;
    line-height: 25px;
    word-break: normal;
    margin-top: 50px;
}
.subd1 {
    margin-top: 50px;
    display: flex;
    align-content: center;
}
.suba2 .ico2 {
    color: #55E6A5;
    font-size: 50px;
    margin-left: 30px;
    margin-top: 5px;
}
.suba2 .atext {
    margin: 20px 0px 0px 15px;
    position: absolute;
    text-align: center;
}
.subd1 a {
    text-decoration: none;
}
.subd1 .suba1 {
    background-color: #55E6A5;
    padding: 20px 40px;
    color: #141C27;
    font-weight: 600;
    gap: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.subd1 .suba2 {
    color: #FFFFFF;
}
.alld2 {
    width: 41%;
    display: flex;
    align-items: center;
}

.sc1 .impa1 {
    height: auto;
    width: 36.5%;
    display: block;
    position: absolute;
    margin-left: 73px;
    margin-bottom: 50px;
    animation: bgimg 1s  ease-in-out infinite alternate;
}
@keyframes bgimg {
    0% {
        margin-top: 10px;
    }
    100% {
        margin-top: -10px;
    }
}
.sc1 .impa2 {
    height: auto;
    width: 450px;
    position: relative;
    margin: 23px 0px 50px 101px;
}
/* section-2 Area */
.sc2 {
    background-color: #02050A;
    color: white;
    height: 721px;
    width: 100%;
    margin-top: -20px;
}
.sc2 .sc2t {
    text-align: center;
    color: #47C08A;
    line-height: 70px;
    padding-top: 120px;
} 
.sc2 h1 {
    text-align: center;
    font-size: 35px;
    line-height: 60px;
} 
.subsc1 {
    width: 100%;
}
.boxx {
    display: flex;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    animation: bcard 1s .2s ease-in-out 1;
}
/* @keyframes bcard {
    0% {
        margin: -10px;
    }
    100% {
        margin-left: 10px;
    }
} */
.box {
    height: 300px;
    width: 354px;
    border: 3px solid #1f1f1f;
    margin-top: 100px;
}
.box .boxt {
    text-transform: uppercase;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding-top: 50px;
    word-spacing: 5px;
} 
.box .boxp {
    color: #A2A2A2;
    font-size: 16px;
    font-weight: normal;
    line-height: 27px;
    text-align: center;
    padding: 20px 25px 0px 25px;
}
.box .svgg {
    height: 90px;
    width: 90px;
    display: flex;
    justify-content: center;
    margin: -52px 0px 0px 135px;  
}
/* section-3 Area */
.sc3 {
    background-color: #02050A;
    color: white;
    height: 721px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}
.allsc3 {
    width: 83%;
    display: flex;
}
.sc3d1 {
    width: 50%;
}
.sc3h3 {
    color: #55E6A5;
    font-weight: normal;
    font-size: 20px;
    word-spacing: 5px;
    padding-top: 55px;
}
.sc3h1 {
    font-size: 38px;
    line-height: 60px;
}
.sc3sub{
    display: flex;
}
.subb {
    width: 70%;
    height: 2px;
    background-color: #A2A2A2;
    margin-top: 90px;
}

.sc3p {
    color: #A2A2A2;
    width: 80%;
    font-size: 16px;
    font-weight: normal;
    line-height: 27px;
    padding: 80px 0px 0px 20px;
}
.minisub a {
    text-decoration: none;
    margin: 80px 0px 0px 20px;
    background-color: #55E6A5;
    padding: 20px 40px;
    color: #141C27;
    font-weight: 600;
    gap: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.sc3d2 {
    width: 50%;
    margin-left: 50px;
}
.dailyA {
    height: 100px;
    width: 20%;
    background-color: #232323;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -140px 0px 0px 120px;
    position: absolute;
}
.ds {
    line-height: 30px;
}
.fas {
    width: 65px;
    height: 65px;
    text-align: center;
    line-height: 65px;
    background-color: #fff1;
    border-radius: 50%;
    font-size: 40px;
    margin-right: 10px;
}
.dp {
    color: #8A8A8A;
    font-weight: 400;
}
/* section-4 Area */
.sc4 {
    background-color: #02050A;
    color: white;
    height: 1000px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.allsc4 {
    width: 83%;
    display: flex;
    column-gap: 30px;
}
.sc4d1 {
    width: 50%;
    margin-top: 50px;
}
.sc4h1 {
    font-size: 50px;
}
.sc4d1 b {
    font-size: 80px;
    font-weight: 600;
}
.sc4p {
    color: #A2A2A2;
    font-size: 16px;
    font-weight: normal;
    line-height: 27px;
    word-spacing: 3px;
    margin-top: 40px;
}
.sc4sub {
    display: flex;
    column-gap: 20px;
    margin-top: 50px;
}
.sub1 {
    height: 250px;
    width: 270px;
    background-color: #09101A;
}
.sub2 {
    height: 250px;
    width: 270px;
    background-color: #09101A;
}
.sub1 h1 {
    font-size: 37px;
    text-align: center;
    margin-top: 20px;
}
.sub1 p {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
}
.sc4d2 {
    height: 800px;
    width: 550px;
    background-color: #09101A;
}
.sub2 h1 {
    font-size: 37px;
    text-align: center;
    margin-top: 20px;
}
.sub2 p {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
}
.ssvg {
    margin: 40px 0px 0px 100px;
}
.sc4d2 {
    padding: 40px;
}
.sc4d2h1 {
    font-size: 35px;
    font-weight: normal;
    word-spacing: 5px;
}
.sc4d2p {
    color: #707276;
    font-size: 16px;
    font-weight: normal;
    line-height: 27px;
    word-spacing: 2px;
    margin-top: 30px;
}
.form {
    margin-top: 50px;
}
.name {
    margin-top: 30px;
}
.name .inp1 {
    width: 95%;
    background-color: #09101A;
    padding: 22px 0px;
    color: #707276;
    border: 2px solid #55E6A5;
    font-size: 16px;
    padding-left: 20px;
}
.email {
    margin-top: 30px;
}

.email .inp2 {
    width: 95%;
    background-color: #09101A;
    padding: 22px 0px;
    color: #707276;
    border: 2px solid #55E6A5;
    font-size: 16px;
    padding-left: 20px;
}
.number{
    margin-top: 30px;
}
.number .inp3 {
    width: 90.5%;
    background-color: #09101A;
    color: #707276;
    border: 2px solid #55E6A5;
    font-size: 16px;
    padding: 22px 20px;
}
.sms {
    margin-top: 30px;
}
.sms .inp4 {
    padding: 22px 20px 150px 20px;
    width: 90.5%;
    background-color: #09101A;
    color: #707276;
    border: 2px solid #55E6A5;
    font-size: 16px;
}
.submit {
    margin-top: 30px;
}
.submit .inp5 {
    background-color: #55E6A5;
    color: #02050A;
    padding: 20px 40px;
    text-align: center;
    font-size: 16px;
    border: none;
}
/* section-5 Area */
.sc5 {
    background-color: #09101A;
    color: white;
    height: 1400px;
    width: 100%;
}
.sc5h3 {
    color: #55E6A5;
    font-weight: normal;
    font-size: 20px;
    word-spacing: 5px;
    padding-top: 120px;
    padding-bottom: 15px;
    text-align: center;
}
.sc5h1 {
    font-size: 38px;
    line-height: 60px;
    text-align: center;
}

.allsuub {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}
.suubd {
    width: 83%;
    display: flex;
    column-gap: 25px;
}
.suub1 {
    margin-top: 30px;
}
.suub2 {
    margin-top: 30px;
}
.spa {
    border: 2px solid #55E6A5;
    padding: 15px 25px;
    font-size: 17px;
    color: #48C28D;
}

.sc5sub {
    margin-top: 70px;
}
.sc5subh1 {
    margin-top: 30px;
    font-size: 30px;
}
.sc5p {
    color: #7b7c7d;
    font-size: 15.5px;
    font-weight: normal;
    line-height: 27px;
    word-spacing: 2px;
}
.boxh {
    width: 41.5%;
    margin-top: 100px;
    padding: 15px 53% 30px 30px;
    background-color: #151C25;
    font-weight: 300;
}
.boxc {
    width: 41.5%;
    margin-top: 50px;
    padding: 15px 53% 30px 30px;
    background-color: #151C25;
    font-weight: 300;
}
.boxja {
    width: 41.5%;
    margin-top: 50px;
    padding: 15px 53% 30px 30px;
    background-color: #151C25;
    font-weight: 300;
}
.boxep {
    width: 41.5%;
    margin-top: 100px;
    padding: 15px 53% 30px 30px;
    background-color: #151C25;
    font-weight: 300;
}
.boxpho {
    width: 41.5%;
    margin-top: 50px;
    padding: 15px 53% 30px 30px;
    background-color: #151C25;
    font-weight: 300;
}
.boxfi {
    width: 41.5%;
    margin-top: 50px;
    padding: 15px 53% 30px 30px;
    background-color: #151C25;
    font-weight: 300;
}
/* section-6 Area */
.sc6 {
    height: 2150px;
    width: 100%;
    background-color: #02050A;
    display: flex;
    justify-content: space-evenly;
}
.sc6h3 {
    color: #55E6A5;
    font-weight: normal;
    font-size: 20px;
    word-spacing: 5px;
    padding-top: 120px;
    padding-bottom: 15px;
}
.sc6h1 {
    font-size: 37px;
    line-height: 60px;
    color: #FFFFFF;
}
.allsc6 {
    width: 83%;
}
.pic1d {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}
.pic1 {
    height: 550px;
    width: 736px;
}
.pic2 {
    height: 550px;
    width: 356px;
}
.pic2d {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.pic3 {
    height: 550px;
    width: 546px;
}
.texth3 {
    color: #55E6A5;
    font-weight: normal;
    font-size: 20px;
    word-spacing: 5px;
    padding-top: 120px;
    padding-bottom: 15px;
    text-align: center;
}
.texth1 {
    font-size: 37px;
    line-height: 60px;
    color: #FFFFFF;
    text-align: center;
}
.carousel {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.car1 {
    border: 2px solid #202c31;
    width: 44%;
    padding: 30px 25px;
}
.crimg {
    margin-top: -100px;
    float: right;
    height: 150px;
    width: 150px;
}
.staar {
    color: #FFBA08;
}
.carh2 {
    color: #FFFFFF;
    margin-top: 20px;
}
.carh4 {
    color: #A2A2A2;
    font-weight: 400;
    font-size: 15px;
    margin-top: 10px;
}
.subcar {
    display: flex;
}
.scarp {
    color: #A2A2A2;
    font-size: 16px;
    font-style: normal;
    word-spacing: 3px;
    font-weight: 500;
    margin-top: 25px;
}
.coma {
    color: #55E6A5;
    font-size: 50px;
    margin-top: 30px;
}
.car2 {
    border: 2px solid #202c31;
    width: 44%;
    padding: 30px 25px;
}
/* section-7 Area */
.sc7 {
    height: 200px;
    width: 100%;
    background-color: #55E6A5;
}
.sc7 marquee {
    font-size: 110px;
    font-weight: 700;
    text-align: center;
}
/* section-8 Area */
.sc8 {
    height: 400px;
    width: 100%;
    background-color: #02050A;
    display: flex;
    justify-content: space-evenly;
}
.sc8all {
    width: 83%;
}
.sc8h3 {
    color: #55E6A5;
    font-weight: normal;
    font-size: 20px;
    word-spacing: 5px;
    padding-top: 150px;
}
.sc8h1 {
    color: #FFFFFF;
    font-size: 37px;
    line-height: 60px;
}
.sc8a {
    text-decoration: none;
    background-color: #55E6A5;
    color: #02050A;
    font-size: 17px;
    font-weight: 600;
    padding: 22px 40px;
    float: right;
}
/* section-9 Area */
.sc9 {
    width: 100%;
    height: 675px;
    background-color: #02050A;
}
.allsc9 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #02050A;
}
.allbox9 {
    width: 83%;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.boxx1 {
    margin: 10px;
    width: 100%;
}
.boxx1 img {
    height: 336px;
    width: 360px;
    display: flex;
    justify-content: space-evenly;
}
.boxxs {
    width: 26.7%;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
}
.boxes {
    width: 90%;
    margin-top: -80px;
}
.dpd {
    background-color: #55E6A5;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    width: 70%;
    text-align: center;
    margin-left: 35px;
    position: relative;
    z-index: 1; 
}
.boxee {
    height: 170px;
    width: 100%;
    background-color: #09101A;
    text-align: center;
    padding-top: 20px;
    margin-top: -20px;
}
.s1h4 {
    color: #707276;
    font-weight: 500;
    padding: 30px 0px 10px 30px;
    text-align: center;
}
.s1h3 {
    color: #FFFFFF;
    font-size: 22px;
    text-align: center;
}
.userr {
    color: #55E6A5;
    font-size: large;
}
.com {
    color: #55E6A5;
    font-size: large;
}
.s2h4 {
    color: #707276;
    font-weight: 500;
    padding: 30px 0px 10px 30px;
    text-align: center;
}
.s2h3 {
    color: #FFFFFF;
    font-size: 22px;
    text-align: center;
}
.boxees {
    height: 200px;
    width: 100%;
    background-color: #09101A;
    text-align: center;
    padding-top: 20px;
    margin-top: -20px;
}
/* section-10 Area  */
.sc10 {
    height: 421px;
    width: 100%;
}
#bgimg {
    background: url(Images/subscribe-scaled.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    box-sizing: border-box;
    background-attachment: fixed;
}
.sc10d1 {
    height: 421px;
    width: 100%;
    background-color: #000000;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.exp {
    margin-left: -25px;
}
.sc10d1 h1 {
    color: white;
    font-size: 30px;
    word-spacing: 3px;
    line-height: 100px;
}
.tbl input{
    border: none;
    font-size: 16px;
    padding: 25px 30px;
    width: 150%;
    background-color: #414141c6;
    border: 1px solid #55E6A5;
}
.tbl a {
    text-decoration: none;
    background-color: #55E6A5;
    color: #02050A;
    font-size: 16px;
    margin-left: 47px;
    padding: 20px 25px;
}
/* section-11 Area */
.sc11 {
    width: 100%;
    height: 225px;
    background-color: #02050A;
    display: flex;
    justify-content: space-evenly;
}
.paara {
    width: 83%;
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}
.ico {
    display: flex;
    column-gap: 25px;
}
.ico1 {
    color: #02050A;
    font-size: 35px;
    background-color: #55E6A5;
    height: 50px;
    width: 50px;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
}
.textA h3 {
    color: #FFFFFF;
    margin-bottom: 15px;
}
.textA p {
    color: #707276;
    font-size: 16px;
    font-weight: normal;
    word-spacing: 2px;
}
.textA a {
    text-decoration: none;
    color: #707276;
    font-size: 16px;
    font-weight: normal;
    word-spacing: 2px;
}
/* Footer Area */
.fter {
    width: 100%;
    height: 170px;
    background-color: #02050A;
    display: flex;
    justify-content: space-evenly;
}
.ftall {
    width: 83%;
}
.linee {
    margin-top: 50px;
    height: 0.5px;
    width: 100%;
    background-color: #141414;
}
.ftd {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.ftd1 p {
    color: #707276;
    font-size: 16px;
    font-weight: 300;
    word-spacing: 2px;
}
.ftd2 a {
    text-decoration: none;
    margin-left: 30px;
    color: #707276;
    font-size: 16px;
    font-weight: normal;
    word-spacing: 2px;
}